<div class="row">
   <div class="col s4">
	  <div class="scrollable collection">
        <a ng-click="detail(task.id)" class="collection-item" ng-repeat="task in selectedTasks">{{task.name}}</a>
      </div>
  </div>
  <div class="col s8">
	  <ul class="scrollable collection">
		<li class="collection-item" ng-repeat="commit in selectedCommits" ng-init="autor=(commit.author)"><b>Contenido del commit:</b> {{commit.message}} <br/> <b>Datos del autor:</b> {{autor}}</span>
      </ul>
  </div>
</div>
<div class="row">
   <div class="col s12">
	   <div class="card scrollable blue-grey darken-1">
           <div class="card-content white-text">
             <span class="card-title">{{selectedTitle}}</span><br/><br/>
             <span ng-bind-html="selectedMessage"></span>
           </div>
       </div>
  </div>
</div>