<html>
<head>
<meta charset="utf-8" />
<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/webjars/materializecss/css/materialize.min.css"
	media="screen,projection" />
	
	<style>
	.scrollable {
		height: 250px;
		overflow:auto;
	}
	</style>
</head>
<body ng-app="appSoftwarePlanner" ng-controller="HomeController as home">

	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo"><i class="large material-icons">insert_chart</i></a>
			<a href="#" class="brand-logo center">Software Planner</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Inicio</a></li>
				<li ng-show="home.authenticated"><a href="/">Ajustes</a></li>
				<li ng-show="home.authenticated"><button
						ng-click="home.logout()" class="btn btn-primary">
						Logout (<span ng-bind="home.user"></span>)
					</button></li>
			</ul>
		</div>
	</nav>

	<div class="container" ng-show="!home.authenticated">

		<div style="height: 50%;" class="valign-wrapper  center-align row">
			<div class="col s6">
				<span class="valign center-block"><a class="valign"
				ng-click="home.openLogin()"><button class="btn btn-primary">Iniciar sesión</button></a></span>
			</div>
			<div class="col s6">
			<span class="valign center-block"><a class="btn btn-primary modal-trigger"
				ng-click="home.openRegister()">Registrarse</a></span>
			</div>
		</div>


		<div class="row">
			<div class="col s4">
				<div class="center promo promo-example">
					<i class="large material-icons">flash_on</i>
					<p class="promo-caption">Speeds up development</p>
					<p class="light center">We did most of the heavy lifting for
						you to provide a default stylings that incorporate our custom
						components.</p>
				</div>
			</div>
			<div class="col s4">
				<div class="center promo promo-example">
					<i class="large material-icons">group</i>
					<p class="promo-caption">User Experience Focused</p>
					<p class="light center">By utilizing elements and principles of
						Material Design, we were able to create a framework that focuses
						on User Experience.</p>
				</div>
			</div>
			<div class="col s4">
				<div class="center promo promo-example">
					<i class="large material-icons">settings</i>
					<p class="promo-caption">Easy to work with</p>
					<p class="light center">We have provided detailed documentation
						as well as specific code examples to help new users get started.</p>
				</div>
			</div>
		</div>

	</div>
	
	  <!-- Modal Structure -->
  <div id="modalRegister" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Register</h4>
     
     <div class="row">
	     <div class="input-field col s12">
	          <input placeholder="Username" id="register-username" type="text" class="validate">
	          <label for="username">Username</label>
	     </div>
	     
	     <div class="input-field col s12">
	          <input placeholder="Password" id="register-password" type="password" class="validate">
	          <label for="password">Password</label>
	     </div>
	     
	     <div class="input-field col s6">
	     	  <a ng-hide="home.gitHubUserId != null" href="/login/github"><button class="btn" id="gitHub">Iniciar sesión con GitHub</button></a>
	          <input ng-show="home.gitHubUserId != null" value="{{home.gitHubUserId}}" disabled id="gitHub" type="text" class="validate">  
	          <label ng-show="home.gitHubUserId != null" for="gitHub">Usuario de GitHub</label>
	     </div>
	     
	     <div class="input-field col s6">
	     	  <button ng-hide="home.trelloUserId != null" ng-click="home.loginIntoTrello()" class="btn" id="trello">Iniciar sesión con Trello</button>
	          <input ng-hide="home.trelloUserId == null" value="{{home.trelloUsername}}" disabled id="trello" type="text" class="validate">  
	          <label ng-hide="home.trelloUserId == null" for="trello">Usuario de trello</label>
	     </div>
	     
     </div>  
    </div>
    <div class="modal-footer">
      <a href="#!" ng-click="home.commitRegister()" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
  </div> 
  
  	  <!-- Modal Structure -->
  <div id="modalLogin" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Iniciar sesión</h4>
     
     <div class="row">
	     <div class="input-field col s12">
	          <input placeholder="Username" id="login-username" type="text" class="validate">
	          <label for="username">Username</label>
	     </div>
	     
	     <div class="input-field col s12">
	          <input placeholder="Password" id="login-password" type="password" class="validate">
	          <label for="password">Password</label>
	     </div>
     </div>  
    </div>
    <div class="modal-footer">
      <a href="#!" ng-click="home.commitLogin()" class="modal-action modal-close waves-effect waves-green btn-flat">Iniciar sesión</a>
    </div>
  </div> 
	
	<div class="container" ng-show="home.authenticated">
		
  
  <!-- MODALES -->
  <div id="modalAsociar" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Modal Header</h4>
	   <input name="id_repo" type="hidden" id="id_repo"/>
	    <div class="collection">
	     <a ng-click="home.loginIntoTrello()" class="collection-item">Trello</a>
	     <a href="#!" class="collection-item">Google Calendar</a>
	    </div>      
	</div>
	<div class="modal-footer">

    </div>
  </div>
  
 
  
  <!--  SECCIONES -->
  		<section id="seccion-boards" ng-show="home.estado == 2">
			<h2>Tus tableros de trello</h2>
			<ul class="collection" ng-show="home.boards">
				<li class="collection-item" ng-repeat="(indice, board) in home.boards">
					<a><i class="tiny material-icons">work</i>{{board.name}}</a>
					<a ng-click="home.asociarBoard(board.id)" class="secondary-content"><i class="material-icons">send</i></a>
				</li>
			</ul>
			
			<div class="center" ng-show="!home.boards">
		    <div class="preloader-wrapper big active" >
		      <div class="spinner-layer spinner-blue">
		        <div class="circle-clipper left">
		          <div class="circle"></div>
		        </div><div class="gap-patch">
		          <div class="circle"></div>
		        </div><div class="circle-clipper right">
		          <div class="circle"></div>
		        </div>
		      </div>
		      </div>
        	</div>
		</section>
  
		<section id="seccion-repos" ng-show="home.estado == 1">
			<h2>Tus repositorios</h2>
			<ul class="collection" ng-show="home.repos">
				<li class="collection-item" ng-repeat="(indice, repo) in home.repos">
					<a><i class="tiny material-icons">work</i>{{repo.name}}</a>
					<a ng-click="home.asociarRepo(repo.id)"  ng-show="repo.asoc=='false'" class="secondary-content"><i class="material-icons">send</i></a>
					<a ng-click="home.verRepo(repo.id)"  ng-show="repo.asoc=='true'" class="secondary-content"><i class="material-icons">work</i></a>
				</li>
			</ul>
			
			<div class="center" ng-show="!home.repos">
		    <div class="preloader-wrapper big active" >
		      <div class="spinner-layer spinner-blue">
		        <div class="circle-clipper left">
		          <div class="circle"></div>
		        </div><div class="gap-patch">
		          <div class="circle"></div>
		        </div><div class="circle-clipper right">
		          <div class="circle"></div>
		        </div>
		      </div>
		      </div>
        	</div>
		</section>
		
		<section id="seccion-repos" ng-show="home.estado == 3">
		<div class="row">
		   <div class="col s4">
			   <div class="scrollable collection">
		        <a href="#!" class="collection-item" ng-repeat="task in home.tasks">{{task.name}}</a>
		      </div>
		  </div>
		  <div class="col s8">
			   <div class="scrollable collection">
				<a href="#!" class="collection-item" ng-repeat="commit in home.commits">{{commit.message}}</a>
		      </div>
		  </div>
		</div>
		<div class="row">
		   <div class="col s12">
			   <div class="card scrollable blue-grey darken-1">
	            <div class="card-content white-text">
	              <span class="card-title">Card Title</span>
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
          	   </div>
		  </div>
		</div>
		</section>
		

		
	</div>
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript"src="/webjars/materializecss/materialize.min.js"></script>
	<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
	<script src="https://api.trello.com/1/client.js?key=3ced367c03efe99a64b0b83fac6fa077"></script>
	
	<script type="text/javascript">
    var myApp = angular.module("appSoftwarePlanner", [])
				.config(
						function($httpProvider) {
							$httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
						}).controller("HomeController", function($http, $location, $scope) {
					var self = this;
					self.estado = 1;
					$http.get("/user").success(function(data) {
						if (data.name) {
							self.user = data.name;
							self.gitHubUserId = data.name;
							if(estado = 1) {
						    	$('#modalRegister').openModal();
							} else {
								self.authenticated = true;
								$http.get("/repos").success(function(dato) {
									self.repos = dato;
								}).error(function() {
									self.repos = null;
								});
							}

						} else {
							self.user = "N/A";
							self.authenticated = false;
						}
					}).error(function() {
						self.user = "N/A";
						self.authenticated = false;
					});
					self.logout = function() {
						$http.post('logout', {}).success(function() {
							self.authenticated = false;
							$location.path("/");
						}).error(function(data) {
							console.log("Logout failed")
							self.authenticated = false;
						});
					};
					
					self.asociarRepo = function(id){
						  self.requestAsocRepo=id;
						  $('#modalAsociar').openModal();
					}
					
					self.verRepo = function(id){
						self.requestAsocRepo=id;
						self.listTasks();
						self.estado = 3;
					}
					
					self.asociarBoard = function(id) {
						  self.requestAsocBoard=id;
						  self.requestAsoc();
					}
					
					self.requestAsoc = function() {
						if(self.requestAsocRepo != null && self.requestAsocBoard != null) {
							$http.get("/repos/asociar/" + self.user + "/" + self.requestAsocRepo+ "/" + self.requestAsocBoard).success(function(dato) {
								if(dato.response == "ok") {
									self.requestAsocRepo = null;
									self.requestAsocBoard = null;
									self.estado = 1;
								} else {
									alert(dato.response)
								}
							}).error(function() {
								alert("ERROR");
							});
						}
					}
					
					self.loginIntoTrello = function() {
					    Trello.authorize({
					        type: "popup",
					        name: "Trello dashboard",
					        scope: {
					            read: true,
					            write: false },
					        expiration: "never",
					        success: self.publishTrelloData,
					        error: function() { console.log("Failed authentication"); }
					    });
					}
					
					self.publishTrelloData = function() {
						Trello.get("members/me", function(datos) {
							self.trelloUserId = datos.id;
							self.trelloUsername = datos.username;
						},function() {
							self.trelloUserId = null;
							self.trelloUsername = null;
						});
					}
					
				    self.loadBoards = function() {
				        //Get the users boards
				        Trello.get("members/me/boards?filter=open", self.digestBoards,function() {
							self.boards = null;
							console.log("Failed to load boards");
						});
				    }
				    
				    self.digestBoards = function(datos) {
				    	self.boards = datos;
				    	self.estado = 2;
	                	$('#modalAsociar').closeModal();
	                	$scope.$apply();
					}
				    
				    self.listTasks = function() {
				    	$http.get("/repos/board/" + self.requestAsocRepo).success(function(dato) {
							if(dato.response == "ok") {
								self.requestAsocBoard = dato.boardId;
						    	Trello.get("/boards/"+ dato.boardId +"/cards", self.digestTasks, function() {
						    		self.tasks = null;
						    		console.log("Failed to load tasks");
						    	});
							} else {
								alert(dato.response)
							}
						}).error(function() {
							alert("ERROR");
						});
				    }
				    
				    self.digestTasks = function(datos) {
				    	self.tasks = datos;
				    	$scope.$apply();
				    }
				    
				    self.openRegister = function() {
				    	$('#modalRegister').openModal();
				    }
				    
				    self.commitRegister = function() {
				    	$('#modalRegister').closeModal();
				    	$http.post("/user/create", {"id":$("#register-username").val(),
				    		"password":$("#register-password").val(),
				    		"trelloUserId":self.trelloUserId,
				    		"gitHubUserId":self.gitHubUserId});
				    }
				    
				    self.openLogin = function() {
				    	$('#modalLogin').openModal();
				    }
				    
				    self.commitLogin = function() {
				    	$('#modalLogin').closeModal();
				    }
				});
	</script>
</body>
</html>